<ion-header>
  <ion-navbar>
    <ion-title>
      Pizzaria
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="home">
    <ion-searchbar [(ngModel)]="terms" placeholder="Buscar" ></ion-searchbar>
    <button ion-button type="button" (click)="sort()">Ordenar</button>

    <ion-list>
        <ion-item (click)="getDetail(cardapio.id)"   *ngFor="let cardapio of result | search : terms | sort: {property: column, order: order}">
         <ion-avatar item-left *ngIf="cardapio.imagem != null">
           <img src="{{cardapio.Pizza}">
         </ion-avatar>
         <h2>{{cardapio.Pizza}}</h2>
       </ion-item> 
     </ion-list>
   
</ion-content>