<!--
  Generated template for the DetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{cardapio.Pizza}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-card>

    <img src="{{cardapio.Imagem}}" />

    <ion-card-content>
      <ion-card-title>
      {{cardapio.Pizza}} - {{cardapio.Preco}}
      </ion-card-title>
      <p [innerHtml]="cardapio.Ingredintes"></p>
    </ion-card-content>
  </ion-card>

</ion-content>